{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><i class="fas fa-home"></i> Main</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Mostrar secciones">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% set ruta = app.request.get('_route') %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-won"></i> Elemento <span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-yc-square"></i>  ~ </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-3x"></i> ~ </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% for mensaje in app.session.flashbag.get('exito') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensaje }}
            </div>
        {% endfor %}
        {% for mensaje in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensaje }}
            </div>
        {% endfor %}
        <div id="block_content">


        {% block content %}
        {% endblock %}
        </div>
    </div>
    <style>


    </style>
{% endblock %}